.News {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.News>.header {
  font-size: 2.5rem;
  width: calc(100% - 3rem);
  margin: 1.5rem;
}

.News>.title {
  font-size: 2rem;
  margin: 2rem;
}

.News>.content {
  margin: 0 2rem;
}